<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Varal dos Sonhos</title>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <header>
        <div class="container-header">
          <nav class="nav-menu">
            <ul class="menu-esquerda">
              <li><a href="index.html">Início</a></li>
              <li><a href="cartinhas.html">Varal Virtual</a></li>
              <li><a href="carrinho.html">Carrinho</a></li>
              <li><a href="pontos.html">Pontos de Coleta</a></li>
            </ul>
            <ul class="menu-direita">
              <li><a href="login.html">Login</a></li>
            </ul>
          </nav>
        </div>
      </header>

    <main>
        <section class="apresentacao">
            <h2>Cadastro</h2>
            <form class="formulario" action="login.html" method="POST">
                <input type="text" placeholder="Nome" required>
                <input type="tel" placeholder="Telefone" required>
                <input type="email" placeholder="E-mail" required>
                <input type="password" placeholder="Senha" required>
                <label><input type="checkbox"> Aceito receber notificações de novas cartinhas</label>
                <button type="submit" class="btn">Cadastrar</button>
            </form>
        </section>
    </main>

    <footer>
        <p>© 2025 Varal dos Sonhos | Desenvolvido com amor 💙</p>
    </footer>
</body>
</html>
